
<section class="section aboutUs">
   <div class="aboutUs__left">
      <h1 class="aboutUs__heading heading">
         Інкубація
      </h1>
      <h3 class="aboutUs__heading-second heading-second">
         Виробництво м’яса курчат бройлерів
      </h3>
      <p class="aboutUs__text">
         Інкубатор ТзОВ «Укрпромінкубація» знаходитися в с. Сапіжанка.,
         Камянко-Бузького району.,Львівської області.
         Інкубатор працює в режимі підприємств закритого типу.
         Категорично зобороняється вхід стороніх осіб у виробничі
         зони , а також вїзд будь-якого виду транспорту, не пов’язаного з
         обслуговуванням господарства.
      </p>
   </div>
   <div class="aboutUs__right">
      <div class="aboutUs__photo">
         <img src="./img/aboutUs/left.png" alt="chicken photo">
      </div>
      <div class="aboutUs__photo">
         <img src="./img/aboutUs/center.png" alt="chicken photo">
      </div>
      <div class="aboutUs__photo">
         <img src="./img/aboutUs/right.png" alt="chicken photo">
      </div>
   </div>
</section>