<section class="section advantage">
   <ul class="advantage__list">
      <li class="advantage__item">
         <div class="advantage__image-box">
            <img src="./img/advantage/chicken.png" alt="chicken icon" class="advantage__img">
         </div>
         <p class="advantage__title heading-second">
            10 млн. курчат в рік
         </p>
      </li>

      <li class="advantage__item">
         <div class="advantage__image-box">
            <img src="./img/advantage/build.png" alt="build icon" class="advantage__img">
         </div>
         <p class="advantage__title heading-second">
            9 Основних приміщень
         </p>
      </li>

      <li class="advantage__item">
         <div class="advantage__image-box">
            <img src="./img/advantage/sanitar-zone.png" alt="sanitary zone icon" class="advantage__img">
         </div>
         <p class="advantage__title heading-second">
            300 м² — Санітарна зона
         </p>
      </li>
   </ul>
</section>