<section class="section contacts">
   <div class="contacts__info row">
      <div class="contacts__left col-md-5">
         <h3 class="contacts__heading">
            Цікава співпраця з нами?
         </h3>
         <p class="contacts__text">
            Залиште ваші контакти, наші менеджери
            зв’яжуться з вами якомога швидше
         </p>
      </div>

      <div class="contacts__right col-md-4">
         <p class="contacts__phone">
            <a href="tel:+38 (032)242 11 17" class="contacts__link">
               +38 (032)242 11 17
            </a>
         </p>

         <p class="contacts__address contacts__link">
            81646, Львівська обл., Миколаївський р-н,
            с. Київець, вул. Наддністрянська, 157
         </p>

         <p class="contacts__email">
            <a href="#" class="contacts__link">
               office@ular.lviv.ua
            </a>
         </p>
      </div>
   </div>

   <form action="" class="contacts__form form">
      <div>
         <input type="text" class="form__input input" placeholder="Ваше ім’я" required>
         <input type="phone" class="form__input input" placeholder="Ваш телефон" required>
         <input type="email" class="form__input input" placeholder="Ваш телефон" required>
      </div>
      <button type="submit" class="form__button button">
         Надіслати заявку
      </button>
   </form>
</section>