<footer class="footer">
   <div class="footer__top">
      <img src="./img/logo.png" alt="logo" class="footer__logo">

      <div class="footer__contacts">
         <h3 class="footer__heading">
            Контакти
         </h3>
         <p class="footer__text">
            <a href="tel:+38 (032)242 11 17" class="footer__link">
               +38 (032)242 11 17
            </a>
         </p>

         <p class="footer__text">
            <a href="email:office@ular.lviv.ua" class="footer__link">
               office@ular.lviv.ua
            </a>
         </p>

         <div class="footer__icons">
            <a href="#" class="footer__icon"><img src="./img/icons/viber.svg" alt=""></a>
            <a href="#" class="footer__icon"><img src="./img/icons/telegram.svg" alt=""></a>
            <a href="#" class="footer__icon"><img src="./img/icons/whatsapp.svg" alt=""></a>
            <a href="#" class="footer__icon"><img src="./img/icons/facebook.svg" alt=""></a>
         </div>
      </div>

      <div>
         <h3 class="footer__heading">
            Наш офіс
         </h3>
         <p class="footer__text">
            81646, Львівська обл., Миколаївський р-н,
            с. Київець, вул. Наддністрянська, 157
         </p>
         <h3 class="footer__heading">
            Наші компанії
         </h3>
         <div class="footer__companies">
            <a href="#"  class="footer__image">
               <img src="./img/footer/ular.png" alt="ular icon">
            </a>
            <a href="#"  class="footer__image">
               <img src="./img/footer/gnizdichiv.png" alt="elevator icon">
            </a>
            <a href="#"  class="footer__image">
               <img src="./img/footer/agro-invest.png" alt="agro-invest icon">
            </a>
            <a href="#"  class="footer__image">
               <img src="./img/footer/zavod.png" alt="zavod icon">
            </a>
         </div>
      </div>
   </div>

   <div class="footer__bottom">
      <p class="footer__text"><b>©ФГ УЛАР, 2020</b></p>
      <p class="footer__text">Дизайн та розробка — <b>WebTune</b></p>
   </div>
</footer>

<script src="https://unpkg.com/swiper/swiper-bundle.min.js"></script>
<script src="https://ajax.googleapis.com/ajax/libs/jquery/3.5.1/jquery.min.js"></script>
<script src="./js/script.min.js"></script>