<section class="home">
   <div class="home__left">
      <div class="home__info">
         <h1 class="home__heading heading">
            Інкубація
         </h1>
         <h3 class="home__heading-second heading-second">
            ТзОВ «Укрпромінкубація»
         </h3>
         <p class="home__text">
            Lorem ipsum dolor sit amet,
            consectetur adipiscing elit.
            Sodales nunc commodo nulla amet.
            Odio nisi, fermentum accumsan porta.
            Lorem tellus, semper porttitor
         </p>
         <button class="home__button button">Детальніше Про Нас</button>
      </div>
      <div class="home__others">
         <h3 class="home__heading-second home__heading-second--others heading-second">
            Наші компанії
         </h3>
         <div class="home__list">
            <a href="#" class="home__item">
               <img src="./img/home/1.png" alt="list photo">
               <p class="home__item-text">Зерновий елеватор</p>
            </a>
            <a href="#" class="home__item">
               <img src="./img/home/2.png" alt="list photo">
               <p class="home__item-text">ФГ Улар</p>
            </a>
            <a href="#" class="home__item">
               <img src="./img/home/3.png" alt="list photo">
               <p class="home__item-text">Виробництво комбікормів</p>
            </a>
            <a href="#" class="home__item">
               <img src="./img/home/4.png" alt="list photo">
               <p class="home__item-text">Вирощування зернових та олійних культур</p>
            </a>
         </div>
      </div>
   </div>
   <img src="./img/header_image.jpg" alt="Chickens" class="home__image">
</section>