<section class="section infoScrollText">
   <h3 class="heading infoScrollText__heading">
      Технологічний процес
   </h3>
   <p class="infoScrollText__text">
      В інкубаторій курячі яйця доставляються автотранспортом в спеціальній
      транспортній тарі. Транспортується вантаж в приміщення для перекладання
      яєць ручними візками. Там проводиться візуальний огляд та сортування яєць,
      після чого вони укладаються в інкубаційні стелажі, в яких і зберігаються.
      Транспортна тара відправляється відправнику.
      Перед закладанням в інкубатори яйця повині пройти дезінфекцію.
      Дезинфекція інкубаційних яєць проводиться парами формальдегіду в
      приміщенні для фумігації. Після завершення дезінфекції пари формальдегіду
      видаляються з приміщення на зовні за допомогою осьового вентилятора.
      Продезинфіковані яйця в стелажах подаються в інкубаційний зал , де
      розміщено 12 інкубаційних шаф. Завантаження яєць в шафи здійснюється
      почергово у відповідності з циклограмою роботи підприємства.
      Тривалість інкубації в шафах складає 18 діб.
      Щоб забезпечити кожній партії яєць оптимальні умови, проводиться
      регулювання і програмування температури, повітря обігу і вологості.
      Весь процес інкубації яєць комп’ютеризований за яким слідкує оператор.
      Після терміну інкубації стелажі транспортуються в зал перекладання яєць,
      де яйця перекладаються у вивідні стелажі. В процесі перекладання яєць
      проводиться їх овоскопіювання.
      Вивідні стелажі транспортуються у вивідний зал , де встановлено 4 вивідні
      шафи.

      Тривалість інкубації у вивідних шафах -3 доби.
      Курчата що вилупились, із вивідного залу транспортуються в приміщення
      мийної , де проводиться вибирання молодняка із лотків та видалення
      відходів. Курчата подаються в зал де сортуються та вакцинуються.
      Після інкубації кожної партії яєць інкубаційні відходи (слабих курчат,
      виродків, «задохликів», шкарлупу) поміщують у непроникні металеві ящики
      з кришками, що щільно закриваються і транспортують на утилізаційне
      підприємство, з яким заключенна угода.
      В приміщенні мийні проводиться миття лотків, інкубаційних та вивідних
      стелажів. Миттю та дезінфекції підлягають також інкубаційні та вивідні
      шафи, приміщення.
      Відібраний для реалізації молодняк утримується в приміщенні зберігання
      молодняка. Не допускається перетримування добового молодняку в
      інкубаторі понад 8 годин.

      Відправка курчат на вирощування здійснюється спеціалізованим
      автотранспортом.
      Прийомка інкубаційного яйця та відправка добового молодняка
      проводиться з супроводжуючими документами.
   </p>
</section>