<section class="section info">
   <div class="info__top">
      <h2 class="info__heading">
         Ми — підприємство<br>
         <span class="info__heading--color">закритого</span> типу
      </h2>
      <p class="info__text">
         При вході в приміщення інкубаторію для дезінфекції взуття
         на всю ширину проходу встановлено спеціальні дизкилими.
         На кожному з двох вїздів знаходиться дезбарєр для обробки
         дезинфікційним розчином коліс транспорту.
      </p>
   </div>

   <div class="swiper-container info-slider">
      <div class="swiper-wrapper">
         <div class="swiper-slide">
            <img src="./img/slider/1.png" alt="incubator photo" class="swiper__photo">
         </div>

         <div class="swiper-slide">
            <img src="./img/slider/1.png" alt="incubator photo" class="swiper__photo">
         </div>

         <div class="swiper-slide">
            <img src="./img/slider/1.png" alt="incubator photo" class="swiper__photo">
         </div>

         <div class="swiper-slide">
            <img src="./img/slider/1.png" alt="incubator photo" class="swiper__photo">
         </div>

         <div class="swiper-slide">
            <img src="./img/slider/1.png" alt="incubator photo" class="swiper__photo">
         </div>

         <div class="swiper-slide swiper-slide">
            <img src="./img/slider/1.png" alt="incubator photo" class="swiper__photo">
         </div>

         <div class="swiper-slide swiper-slide">
            <img src="./img/slider/1.png" alt="incubator photo" class="swiper__photo">
         </div>

         <div class="swiper-slide swiper-slide">
            <img src="./img/slider/1.png" alt="incubator photo" class="swiper__photo">
         </div>

         <div class="swiper-slide swiper-slide">
            <img src="./img/slider/1.png" alt="incubator photo" class="swiper__photo">
         </div>
      </div>
      
      <div class="swiper-button-prev"></div>
      <div class="swiper-button-next"></div>

   <div class="swiper-pagination"></div>
   </div>

   <button class="info__button button">
      Детальніше Про Нас
   </button>
</section>